
  <div class="person">
    <span class="name">My Experience</span>
  </div>
  <div class="desciption">
    <div class="exp">
      <p class="time-line">2014.07 ~ nowadays
        <span>
          <a href="http://alibaba.com/" title="Alibaba.com - Leading global e-commerce platform for small businesses">
            <span class="ali">Alibaba </span>
            ICBU
          </a>
        </span>
      </p>
      <p class="intro alibaba">
        Joining in this big family via campus recruiting, I have been working surrounding  
         <a href="http://www.alibaba.com" class="trick" title="">"alibaba.com"</a>.
      </p>
    </div>
    <div class="exp">
      <p class="time-line">2013.04 ~ 2013.09 <span><a href="http://map.baidu.com/" title="http://map.baidu.com/"><span class="bai">Bai</span><span class="du">du</span> LBS </a></span></p>
      <p class="intro baidu">
        This is my first internship experience, and I am grateful for the company to provide a great platform for me. <br><br>
        In the first period, I involved in the 'Route Navigation Group' and produced some test tools  
include 'Real-time bus monitoring platform', 'Route-test tasks management platform', and 'Competing-products routes planning platform' etc. <br><br>
        Two months later, I joined 'webmap Group' and participated in BMap's front-end development which extremely excited me! During this period I made some contribution and I was very honored.
      </p>
    </div>
    <div class="exp">
      <p class="time-line">2012.09 ~ 2014.06 <span><a href="http://www.syslab.us/" title="http://www.syslab.us/"><span class="syslab">Syslab</span> Internet Lab</a></span></p>
      <p class="intro">
        As a front-end novice, I completed the transformation to become a real developers in these two years. Apart from this, I participated in a number of interesting projects and learned the proper professionalism.
        <br>
        School of Microelectronics and Solid State Electronics website: <a href="http://www.me.uestc.edu.cn/">http://www.me.uestc.edu.cn/</a>
        <br>
        Management Committee of UESTC Shahe school district website: <a href="http://gwh.uestc.edu.cn/gwh/">http://gwh.uestc.edu.cn/gwh/</a>
      </p>
    </div>
  </div>  
