  <div class="person">
    <span class="name">Feng Gao</span>
    <div class="font16">Front-end Engineer of
      <span class="greentext"><a href="http://www.alibabagroup.com/en/global/home">ALIBABA GROUP</a>
      </span>
    </div>
  </div>
  <div class="desciption home">
    <p>Known as ‘高峰’, I am 
      <span class="rotate greentext">
        nowadays a Front-End engineer,
        becoming a Full-End engineer&nbsp;</span> living in Hangzhou, China with my girlfriend . I began my university studies in 2010 when I entered University of Electronic Science and Technology of China .
  </div>
  <div class="row">
    <div class="span6">
      <div class="bars">
        <div id="bar-1">
        </div>
        <div id="bar-2">
        </div>
        <div id="bar-3">
        </div>
        <div id="bar-4">
        </div>
        <div id="bar-5">
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="user-tip">
        <img src="img/img-tip.png" alt="" />
      </div>
      <div id="bars-content">
        <div class="content" id="content-1">HTML5 is a markup language used for structuring and presenting content for the World Wide Web and a core technology of the Internet.</div>
        <div class="content" id="content-2">CSS is a style sheet language used for describing the presentation semantics of a document written in a markup language.</div>
        <div class="content" id="content-3">As part of web browsers, implementations allow client-side scripts to interact with the user and control the browser.</div>
        <div class="content" id="content-4">Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</div>
        <div class="content" id="content-5">Java is a computer programming language that is concurrent, class-based, object-oriented.</div>
      </div>
    </div>
  </div>
  <script src="js/jqbar.js"></script>
  <script src="js/jquery.simple-text-rotator.min.js"></script>
  <script>
    // index
    void function($) {
      $(document).ready(function() {

        $('#bar-1').jqbar({
          label: 'HTML',
          value: 90,
          barColor: 'rgb(242, 131, 64)',
          barLength: 180
        });

        $('#bar-2').jqbar({
          label: 'CSS',
          value: 80,
          barColor: 'rgb(46, 145, 249)',
          barLength: 180
        });

        $('#bar-3').jqbar({
          label: 'JavaScript',
          value: 85,
          barColor: '#21ba82',
          barLength: 180
        });

        $('#bar-4').jqbar({
          label: 'Node.js',
          value: 75,
          barColor: '#73a53e',
          barLength: 180
        });

        $('#bar-5').jqbar({
          label: 'Java',
          value: 65,
          barColor: '#CC3333',
          barLength: 180
        });

        $('#bars-content .content').css({
          'opacity': '0',
          display: 'none'
        });
        $('#bars-content .content:eq(0)').css('display', 'block').animate({
          opacity: 1
        }, 1000);
        $('.jqbar:first').addClass('active');
        $('.jqbar').hover(function() {
          $(this).addClass('hover');
        }, function() {
          $(this).removeClass('hover');
        });
        $('.jqbar').click(function() {
          $('.jqbar').removeClass('active');
          var id = $(this).addClass('active').attr('id').replace('bar', 'content');
          $('#bars-content .content').css({
            'opacity': '0',
            display: 'none'
          });
          $('#' + id).css('display', 'block').animate({
            opacity: 1
          }, 1000);

        });

        $(".rotate").textrotator({
          animation: "spin",
          separator: ",",
          speed: 3000
        });
      });
    }(jQuery);
  </script>
  


